<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>App.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>Hello.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>OBJ_1422</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_1458</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_1465</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_2088</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_2104</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_2106</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_2107</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_2136</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_2155</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_2189</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_2197</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_2205</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_2237</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_2284</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_2306</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_2319</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_2340</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_2363</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_2434</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_2436</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_2437</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_2567</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_2617</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_2663</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_2690</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_2717</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_2738</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_2747</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_2769</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_2819</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_2872</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_2928</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_2981</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_3027</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_3073</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_3165</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_3167</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_3328</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_3410</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_3494</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_3670</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
